<!-- NOSTROMO verification specification revision: 8 -->

Verify the data is well uploaded to the web server
