<!-- NOSTROMO verification specification revision: 9 -->

Verify the esp32 is connected to internet, and verify the data is correctly sent to the web server database and the page works fine
